In [ ]:
#1. WAP to take 10 numbers from a user and store them in a list.

In [ ]:
input_numb = input('Enter elements of a list separated by space ')
print("\n")
user_list = input_numb.split()
print('list: ', user_list)

for i in range(len(user_list)):
    user_list[i] = int(user_list[i])

Enter elements of a list separated by space 1 2 3 4 5 6 7 8 9 10


list:  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
#2. Display numbers divisible by 5 from a list.

In [ ]:
flag = True
for i in a:
    if i%5==0:
        print(i)
        flag = False

if flag:
    print("not found")

25
10
5

In [ ]:
#3. WAP to calculate the count of elements in a string taken as input from the user.

In [ ]:
l = input('Enter strings: ')
len(l)

Enter strings: Hello World

11

In [ ]:
#4. WAP to check if a number is even or odd where number is taken as input.

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 2
2 is Even

In [ ]:
#5. WAP to reverse a string taken as input from the user.

In [ ]:
txt = input()[::-1]
print(txt)

Hello World
dlroW olleH

In [ ]:
#6. WAP to reverse all the strings present in a list and save them in a new list.

In [ ]:
old_list = ["halo", "world", "hello", "abc", "def"]
print (old_list)
new_list = [i[::-1] for i in old_list]
print (new_list)

['halo', 'world', 'hello', 'abc', 'def']
['olah', 'dlrow', 'olleh', 'cba', 'fed']

In [ ]:
#7. Print characters from a string that are present at an even index number

In [ ]:
s='Learn Bay Python'
s[::2]

'LanByPto'

In [ ]:
#8. Check if the first and last number of a list is the same

In [ ]:
list = [1,2,3,4,5,1]
print(list[0]==list[-1])

True

In [ ]:
#9. Calculate income tax for the input income by adhering to the Indian rules.

In [ ]:
Income = int(input('Enter Income:'))

if Income >= 50000000 and Income < 200000000:
    print(0.05*int(Income))
elif Income <= 200000000 and Income < 500000000:
    print(0.15*int(Income))
elif Income <= 500000000:
    print(0.25*int(Income))
else:
    print('tax free')

Enter Income:200000000
30000000.0

In [ ]:
#10. Write a Python program to check whether a string starts with vowel or not.

In [ ]:
l = input("Enter a string: ")

if l[0].lower() in ('a', 'e', 'i', 'o', 'u'):
  print("The string is start with a Vowel")
elif l[0].upper() in ('A', 'E', 'I', 'O', 'U'):
  print("The string is start with a Vowel")
else:
  print("The string is not start with a Vowel")

Enter a string: Abhi
The string is start with a Vowel

In [ ]:
#11. Write a Python program to check if all the characters of a string are vowel or not.

In [ ]:
my_word = "YES SIR"

the_vowel = ["a","e","i","o","u"]

print('All the characters of the string is vowel = ',my_word[0].lower() in the_vowel)

All the characters of the string is vowel =  False

In [ ]:
#12. WAP to calculate percentage of a student through 5 subjects. Take marks as input from the user.

In [ ]:
s1 = int(input('Enter Marks for subject 1: '))
s2 = int(input('Enter Marks for subject 2: '))
s3 = int(input('Enter Marks for subject 3: '))
s4 = int(input('Enter Marks for subject 4: '))
s5 = int(input('Enter Marks for subject 5: '))


print('your average marks is ',(s1+s2+s3+s4+s5)/500)

Enter Marks for subject 1: 56
Enter Marks for subject 2: 67
Enter Marks for subject 3: 89
Enter Marks for subject 4: 90
Enter Marks for subject 5: 56
your average marks is  0.716

In [ ]:
#13. WAP to convert '95.3' taken as input from the user into float value.

In [ ]:
l=float(input('Enter value:'))

print(l)

Enter value:95.30
95.3

In [ ]:
#14. WAP to count the number of zeroes present in a number taken as input from the user.

In [ ]:
user_input=input('Enter numbers: ')

def count_zeros(number):
  return str(number).count('0')
count_zeros(user_input)

Enter numbers: 387004034504350

5

In [ ]:
#15. WAP to calculate the surface area of a triangle. Take the required values as input.

In [ ]:
tri_base = int(input('Enter base (in cm): '))
tri_height = int(input('Enter height (in cm): '))

0.5*tri_base*tri_height

Enter base (in cm): 10
Enter height (in cm): 20

100.0

In [ ]:
#16. WAP to concatenate two lists index-wise and save the result in a 3rd list

In [ ]:
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]
  
test_list1.extend(test_list2)

print ("Concatenated 3rd List : " + str(test_list1))

Concatenated 3rd List : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [ ]:
#17. WAP to convert two lists into a dictionary. Take the elements from first list as keys and elements from second list as values.

In [ ]:
list_keys = ["Learn", "Bay", "Python"]
list_values = [1, 4, 5]
 
res = {}
for key in list_keys:
    for value in list_values:
        res[key] = value
        list_values.remove(value)
        break
 
# Printing resultant dictionary
print("Compiled Dictionary : " + str(res))

Compiled Dictionary : {'Learn': 1, 'Bay': 4, 'Python': 5}

In [ ]:
#18. Input and store the marks of 10 students in a list. Print max and min marks.

In [ ]:
count = 0
x = []
while(True):
    num = input('Enter the marks: ')
    if(num.isdigit()):
        x.append(int(num))
        count += 1
    elif(x):
        high = max(x)
        low = min(x)
        print("Your Highest Marks is: " + str(high))
        print("Your Lowest Marks is: " + str(low))
        break
    else:
        print("Please enter some marks")
        break

Enter the marks: 123
Enter the marks: 234
Enter the marks: 345
Enter the marks: 444
Enter the marks: 567
Enter the marks: 678
Enter the marks: 789
Enter the marks: 890
Enter the marks: 987
Enter the marks: 111
Enter the marks: x
Your Highest Marks is: 987
Your Lowest Marks is: 111

In [ ]:
#19. WAP to save the username and password of 10 users in a dictionary.

In [ ]:
def add(**UP):
  print('Save Username:Password', UP)
  return

add(User1 = 'abc', User2 = 413, User3 = 'cde', User4 = 243,User5 = 'learn',User6 = 'Bay',User7 = 'Learn123', User8 = "123Learn", User9 = 'Python123', User10 = '123Python')

Save Username:Password {'User1': 'abc', 'User2': 413, 'User3': 'cde', 'User4': 243, 'User5': 'learn', 'User6': 'Bay', 'User7': 'Learn123', 'User8': '123Learn', 'User9': 'Python123', 'User10': '123Python'}

In [ ]:
#20. WAP to find the sum of the first n positive integers. Take n as input from the user.

In [ ]:
n = input()

int(n[0]) + int(n[0])

545

10